/* YOUR CUSTOM STYLES */
.list-group-item.active {
    background-color: #33b5e5;
    border-color:#33b5e5
}
.list-group-item:not(.active) {
    color:#222;
}
.list-group-item:not(.active):hover {
    color:#666;
}
.davids-name {
    text-align: center;
    font-size: 4em;
    padding: .5em;
}
.davids-face {
    max-width: 5em;
    max-height: 5em;
    margin-top: -2.75em;
    margin-left: -3.5em;
    position:relative;
    z-index: 5;
}
.header {
    margin-top: 1em;
    margin-bottom: 1em;
}

.responsive-chunk h5{
    margin-right: 1em;
}

.links:link {
    color:#d9534f;
}
.links:visited {
    color:#d9534f;
}
.links {
    color:#d9534f;
}
.edu {
    float:left;
    margin-left: 1em;
}
.skill {
    margin-bottom: 1em;
}
.tech-skill {
    margin-top: 1em;
    font-size: small;
}

meter {
    width: 2em;
}
/*meter */
meter::-webkit-meter-bar {background: #e6e6e9;} /*background color of bar*/
meter::-webkit-meter-optimum-value {background: #d9534f;}
meter::-webkit-meter-suboptimum-value{background:#d9534f;}
meter::-webkit-meter-even-less-good-value{background:#d9534f;}


/*meter */
/*bar with only one possible color*/
meter::-moz-meter-bar {background: #d9534f;}  /* color of bar*/

/* bar with different colors*/
/* between "low" and "high" thresholds*/
meter::-moz-meter-optimum-value {background: #d9534f;} 
/*below "low" threshold or above "high" threshold*/
meter::-moz-meter-suboptimum-value{background:#d9534f;}

